:root {
    --bg: #f4f4f5;
    --text: #1a1a1a;
    --card: #fff;
    --subtext: #666;
}

body {
    font-family: 'Poppins', 'Noto Sans JP', sans-serif;
    background: var(--bg);
    color: var(--text);
}

/* HEADER */
.header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

/* h2 */
h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* MENU BUTTON */
.nav-toggle {
    position: absolute;
    right: 10%;
    top: 22px;
    width: 30px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    z-index: 10000;
    transition: transform 0.7s ease;
    /* animacao para o lado (botao X) */
}

.nav-toggle span {
    width: 100%;
    height: 2px;
    background: #000;
    transition: 0.3s;
    z-index: 9999;
}

/* X animação */
.nav-toggle.active span:nth-child(1) {
    transform: translateY(4px) rotate(45deg);
    background: #fff;
}

.nav-toggle.active span:nth-child(2) {
    transform: translateY(-4px) rotate(-45deg);
    background: #fff;
}

.nav-toggle.active {
    transform: translateX(80px);
    /* decidir a pocisao do botao apos clicar */
}

/* MENU */
.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 450px;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    /* 右に隠す */
    transition: 0.4s;
    z-index: 9998;
}

.nav-menu.active {
    transform: translateX(0);
    /* 表示 */
}

.nav-menu ul {
    display: flex;
    flex-direction: column;
    gap: 60px;
    /* ← ここで間隔調整 */
    color: #fff;
    font-size: 35px;
}

/* nao deixar scrolar (bloquear) */
body.no-scroll {
    overflow: hidden;
}

/* SECTIONS */
section {
    padding: 80px 20px;
    text-align: center;
}

/* BOTÃO */
.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
}

.btn:hover {
    background: #000;
    color: #fff;
}

/* BOTÃO VOLTAR */
.back-btn {
    display: inline-block;
    margin: 20px;
    text-decoration: none;
    color: #000;
}

/* WORK */
.work-card {
    background: var(--card);
    border-radius: 12px;
    overflow: hidden;
    margin-bottom: 20px;
}

.work-card img {
    width: 100%;
}

/* ANIMAÇÃO */
.fade {
    opacity: 0;
    transform: translateY(30px);
    transition: 0.6s;
}

.fade.show {
    opacity: 1;
    transform: translateY(0);
}

/* LOADER */
#loader {
    position: fixed;
    inset: 0;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loader.hide {
    opacity: 0;
    visibility: hidden;
}

/* LOGO ANIMADO */
.logo-svg text {
    fill: transparent;
    stroke: #fff;
    stroke-dasharray: 400;
    stroke-dashoffset: 400;
    animation: draw 2s forwards;
    font-size: #fff;
}

@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}